.card-body{
     padding: 0.6rem;
}

.blur{
    position: absolute;
    background: linear-gradient(transparent, white);
    height: 8.6rem;
    width: 21.5rem;
}

.card-buttons img{
    width: 1.4rem;
}
.card-inner-body{
    min-height: 6rem;
    overflow: hidden;
}

.card-buttons{
    margin: auto;
}
.toggle button{
    border: none;
    border-radius: 14px;
    font-size: 0.9em;
}

/************** IMAGE & ZOOM-IN *****************/

.card-img-top{
    display: block;
    height: 15rem;
    max-width: 22rem;
    width: auto;
    margin: auto;
    border-radius: 0;
    transition: 0.35s ease;
    filter: sepia(80%);
}

.card-img-top:hover{
    transform: scale(1.6);
    filter: sepia(0);
    z-index: 2;
}
