.card-body{
     padding: 0.6rem;
}

.blur{
    position: absolute;
    background: linear-gradient(transparent, white);
    height: 8.6rem;
    width: 21.5rem;
}

.card-buttons img{
    width: 1.4rem;
}
.card-inner-body{
    min-height: 6rem;
    overflow: hidden;
}

.card-buttons{
    margin: auto;
}
.toggle button{
    border: none;
    border-radius: 14px;
    font-size: 0.9em;
}

/************** IMAGE & ZOOM-IN *****************/

.card-img-top{
    display: block;
    height: 15rem;
    max-width: 22rem;
    width: auto;
    margin: auto;

    transition: transform 0.25s ease;
    cursor: zoom-in;
}

.card-img-top:hover{
    opacity: 0.8; 
}

.zoom-check{
    display: none;
}

.zoom-check:checked ~ label{
    position: absolute;

}

.zoomed {
    cursor: zoom-out;
    position: absolute;
    left: 5rem;
    width: 600px;
    z-index: 2;
  }
  
.zoom-check:checked ~ label > .card-img-top {
    transform: scale(2);
    cursor: zoom-out;
    position: absolute;
    left: 5rem;
    z-index: 2;
  }

.zoom-check:checked ~ label > .card-img-top:hover{
    opacity: 1; 
}